$path-to-font: '../fonts/';
@font-face {
    font-family: 'DB';
    src: url('#{$path-to-font}Heven.ttf');
    font-weight: normal;
    font-style: normal;
}

// Body
$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'DB',
sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;